/* You can add custom styles here. */

// @import "plugins/numbered";

@import "variables";

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  // color: --gray-100
  color: $bg-color;
  // display: none;
}
::-webkit-scrollbar-track{
  background: $content-bg-color;
}
::-webkit-scrollbar-thumb{
  // background: --gray-100;
  background: $bg-color;
  border-radius: 10px;
  // box-shadow: inset 0 0 0 2px #fff;
}
.inline-svg {
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  top: 0.15rem;
  position: relative;
}
